<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ context }}/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="{{ context }}/css/react-vis/style.css">
    <link rel="stylesheet" href="{{ context }}/css/font-awesome/font-awesome.min.css">
    <link rel="stylesheet" href="{{ context }}/css/style.css">
    <title>Park Wait Data</title>
  </head>

  <body>
    <input id="appContext" type="hidden" value="{{ context }}">
    {{{ body }}}

    <script src="{{ context }}/js/bundle.js"></script>
  </body>
</html>
